$white:          #fff;
$darken-white:   #ddd;
$lighten-gray:   #ccc;
$light-blue:     #4596f1;
$gray:           #999999;
$yellow:         #ffd040;
$orange:         #ff8b1a;
$red:            #FF0000;
$darker-red:     #c93232;
$pink:           #9e0b3d;
$dark-pink:      #7a052e;
$black:          rgba(0, 0, 0, .2);
